@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&family=Sorts+Mill+Goudy&display=swap");
:root {
    --primary: #3c4649;
    --secondary: #1e2528;
    --heading: #ebe7e0;
    --text-1: #91959b;
    --text-2: #b9d1e4;
    --gradient: linear-gradient(
        80deg,
        #ffd33d,
        #ea4aaa 17%,
        #b34bff 34%,
        #01feff 51%,
        #ffd33d 68%,
        #ea4aaa 85%,
        #b34bff
    );
}

body:focus-visible {
    outline: none;
}
body {
    scroll-behavior: smooth;
}
body::-webkit-scrollbar {
    width: 0.75rem;
}
body::-webkit-scrollbar-track {
    background: var(--primary);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
body::-webkit-scrollbar-thumb {
    box-shadow: 0 -100vh 1px 100vh var(--text-1); /* Fills the area travelled */
    background: var(--secondary);

    width: 0.625rem;
    display: block;
    background-size: 300% 100%;
}
body::-webkit-scrollbar-thumb:hover {
    background-color: var(--text-1);
    border-radius: 25px;
}
html,
body {
    padding: 0;
    margin: 0;
    font-family: "Sorts Mill Goudy", serif;
    background-color: #3c4649;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}
p {
    font-family: "Rubik", sans-serif;
    font-weight: normal;
    margin: 0;
    color: #91959b;
    font-size: 1.2rem;
}

/*SUPER HEADINGS*/
.super-heading {
    font-family: "Sorts Mill Goudy" !important;
    color: #ebe7e0 !important;
    font-size: 7rem !important;
}
/*END of SUPER HEADINGS*/

/*NAV MENU*/
/*NAV BAR*/
.nav-div {
    background-color: red;
    margin-bottom: 3.5rem;
}
.nav-line {
    height: 0.1rem;
    width: 4rem;
    background-color: #ebe7e0;
    margin: 0.5rem 0;
    box-shadow: 0.3rem 0.2rem #1e2528;
}
.hide-nav-menu {
    display: none;
    visibility: hidden;
    transform: translateX(50rem);
    transition: ease-out 1s;
}
.navbar {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 1rem;
    width: 100%;
    transition: opacity 0.5s, visibility 0.5s, transform 0.5s;
}
.hide-navbar {
    display: none;
    visibility: hidden;
    transform: translateX(50rem);
}

.nav-link:hover {
    color: #ff8059;
}
/*End of NAV BAR*/

/*END OF NAV MENU*/

/*INTRO*/
.intro-div {
    margin-top: 1.5rem;
}
.hero {
    display: flex;
    margin-top: 8vh;
}
.name-position-box {
    display: flex;
    flex-direction: column;
}
.current-profile {
    letter-spacing: 0.001rem;
    font-family: "Rubik";
    font-size: 1.5rem;
    font-weight: 400;
}

.name {
    color: #ebe7e0;
    font-family: "Sorts Mill Goudy";
    font-size: 4rem;
    line-height: 100%;
}
.name-box .name {
    color: #ebe7e0;
    font-weight: 800;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 7rem;
    text-shadow: -0.5rem 0 0.85rem rgba(0, 0, 0, 0.9);
}
.name-box .name:not(:first-child) {
    margin-left: -1.5rem;
}
.profile-pic-div {
    display: flex;
    justify-content: center;
}
.profilePic {
    height: 68.5vh;
    width: 100%;
    object-fit: cover;
}

.line {
    border-left: 2px solid #91959b;
    height: 30%;
    margin: 0 2% 0.3em 2%;
    width: 2px;
}
.sub-hero-3 {
    display: flex;
    justify-content: start;
    align-items: flex-end;
}
.sub-hero-3 p {
    margin: 0 0 0.5em 0;
}

.social-media {
    padding: 4em 0;

    background-color: #1e2528;
}
.social-media a:hover {
    border-radius: 50%;
    transform: scale(1.2);
    transition: all 0.3s ease;
    box-shadow: 20px 15px rgba(60, 70, 73, 0.15);
}
/*___ABOUT ME___*/

.about-me-div {
    background-color: #1e2528;
    padding-bottom: 1.5em;
}

.line-2 {
    align-self: center;
    border-left: 2px solid #91959b;
    height: 18em;
    margin: 0 2% 0 2%;
    width: 5px;
}
.about-me-figs {
    direction: rtl;
}
.about-me-figs span {
    font-size: xx-large;
    font-weight: 700;
}

.about-me-para {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.about-me-para p {
    margin: 0.5em 0 0 0;
}
.about-me-figs span {
    font-style: italic;
    font-weight: 500;
}

/*End of ABOUT ME*/
/*_______________*/
/*___RESUME___*/
.resume-div p {
    color: #b9d1e4;
}
.resume-body,
.about-me-body,
.project-body {
    margin: 0.9em 0 1.5em 0;
}

/*Lottie*/
.web-designer {
    display: grid;
    place-items: center;
}
.lottie-container {
    max-height: 400px;
    max-height: 400px;
}
.line-3 {
    align-self: center;
    border-left: 2px solid #91959b;
    height: 50em;
    margin: 0 2% 0 2%;
    width: 5px;
}
.skill-heading {
    margin: 1.2em 0 0 0;
    font-weight: 600;
    font-family: "Sorts Mill Goudy";
    color: #ebe7e0;
}
.skill-headings {
    margin-left: 1em;
    font-weight: 500;
    color: #ebe7e0;
}
.skill-icons {
    display: flex;
}
.skill-icons img {
    margin: 0 0.9em 0 0.9em;
}
.skill {
    margin: 0.9em 0 0.9em 0;
}
.skill .skill-tenure {
    font-size: smaller;

    margin: 1.2em 0 0.2em 0;
}
.ed-headings {
    font-weight: 500;
    color: #ebe7e0;
}
.ed-details {
    font-family: "Rubik";
    font-weight: 300 !important;
}
.ed-details p {
    color: #b9d1e4;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 300;
}
.ed-details h6 {
    color: #b9d1e4;
    margin-top: 0;
}
.ed-details p:nth-child(2) {
    font-size: medium;
}
#education-div {
    width: 60%;
}
#experience-div {
    margin-left: 0.5em;
}

.btn {
    margin: 1.5em;
    width: 10em;
    color: #b9d1e4;
    border-color: #1e2528;
}
.btn:hover {
    background-color: #1e2528;
}
.btn a:hover {
    color: #b9d1e4;
}
/*END of RESUME*/
/*_____________*/
/*___PROJECTS__*/
.project-div {
    background-color: #1e2528;
    padding-bottom: 1.5em;
}
.line-4 {
    align-self: center;
    border-left: 2px solid #91959b;
    height: 5em;
    margin: 0 2% 0 2%;
    width: 5px;
}
.project-card {
    border: solid #3c4649;
    border-radius: 25px;
    background: rgba(1, 1, 1, 0.5);
    padding: 0.9vw;
    width: 80%;
    margin: 0.9em 0 0 0;
}
.project-card:hover {
    transition: all 0.3s ease;
    transform: scale(1.01);
}

.project-img-div {
    display: block;
    position: relative;
    width: 320px;
    height: 240px;
    margin: 0.9em 0 0.9em 0;
}
.project-img-div img {
    border-radius: 5px;
}
.project-details {
    margin: 0.9em 0 0.9em 0.9em;
}
.project-details p {
    color: #b9d1e4;
}
.project-date {
    font-size: small;
    margin: 1.2em 0 0.2em 0;
}
.project-heading {
    font-size: xx-large;
    font-weight: 500;
    color: #ebe7e0;
    font-family: "Rubik";
}
.project-details p:nth-child(3) {
    font-weight: 300 !important;
}
.project-links {
    padding: 0.5em;
}
.project-links img:hover {
    transform: scale(0.9);
}
.project-intro {
    padding: 1.2em;
}
.project-intro q {
    font-size: x-large;
    color: #ebe7e0;
}
.project-intro figcaption {
    font-size: small;
    color: #b9d1e4;
}

/*End of PROJECTS*/
/* Project Page */

.project-page-container {
    width: 100vw;
    height: 100vh;
    padding: 2rem;
}
.project-page-container .project-image {
    width: 100%;
    height: 50vh;
    background-color: var(--secondary);
    border-radius: 25px;
    overflow-y: hidden;
    border: 2px solid var(--secondary);
}
.project-image img {
    -webkit-animation-name: move;
    -webkit-animation-duration: 10s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate-reverse;
    -webkit-animation-timing-function: ease-in-out;
}

@-webkit-keyframes move {
    0% {
        margin-top: 0;
    }
    25% {
        margin-top: -25%;
    }
    50% {
        margin-top: -50%;
    }
    100% {
        margin-top: -71%;
    }
}
.project-page-details {
    padding: 2rem 1rem;
    width: 100%;
}
.project-forehead {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.project-forehead a {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text-2);
}
.project-forehead a:hover {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--secondary);
}
/*________________________________*/
/*MOBILE VERSION*/
/*________________________________*/

@media (max-width: 768px) {
    .hero {
        display: flex;
        flex-direction: column;
    }
    .sub-hero-1,
    .sub-hero-2,
    .sub-hero-3 {
        align-self: center;
    }
    .sub-hero-3 {
        justify-content: center;
        align-items: center;
        margin: 0.5em 0;
    }
    .sub-hero-3 .line {
        height: 10em;
        width: 2px;
    }
    .social-media {
        padding: 1.5em 0;
    }
    /*Super Heading*/
    .super-heading {
        font-family: "Sorts Mill Goudy" !important;
        color: #ebe7e0 !important;
        font-size: 3.5rem !important;
        margin-left: 0.2em;
    }

    /*ABOUT ME*/
    .about-me-body {
        flex-direction: column;
    }
    .about-me-para {
        padding: 0 2%;
    }

    /*RESUME*/
    .resume-body {
        flex-direction: column;
    }
    .skill-icons {
        flex-direction: column;
    }
    .icon-frame {
        margin: 0.5em 0;
        width: 100%;
    }
    /*PROJECT*/
    .project-card {
        flex-direction: column;
        align-items: center;
    }
    .project-links {
        flex-direction: row !important;
        width: 100%;
    }
}
